### general
/TODO.md
/installed.sh
.uuid
# Work In Progress files
/_WIP/*
!/_WIP/.stowrc
!/_WIP/.stow-local-ignore

## qtile
qtile/.config/qtile/__pycache__

## nvim
# ignore vim sessions from mini.sessions
Session.vim
# ignore lazy lock from Lazy
lazy-lock.json

## zsh
# ignore secrets
secrets.zsh
# ignore nvims plugin config file
zsh/.config/oh-my-zsh/plugins/nvims/nvims_config
