[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "zsh/.config/oh-my-zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/oh-my-zsh/plugins/zsh-vi-mode"]
	path = zsh/.config/oh-my-zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "sddm/themes/astronaut"]
	path = sddm/themes/astronaut
	url = https://github.com/totoro-ghost/sddm-astronaut.git
[submodule "windows/windows-terminal-icons"]
	path = windows/windows-terminal-icons
	url = https://github.com/TheFern2/windows-terminal-icons
[submodule "yazi/.config/flavors/tokyo-night.yazi"]
	path = yazi/.config/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
[submodule "GRUB/themes/star-wars-posters-grub-theme"]
	path = GRUB/themes/star-wars-posters-grub-theme
	url = https://github.com/hashirsajid58200p/star-wars-posters-grub-theme.git
[submodule "GRUB/themes/fallout-grub-theme"]
	path = GRUB/themes/fallout-grub-theme
	url = https://github.com/shvchk/fallout-grub-theme
[submodule "GRUB/themes/Elegant-grub2-themes"]
	path = GRUB/themes/Elegant-grub2-themes
	url = https://github.com/vinceliuice/Elegant-grub2-themes
